---
layout: index
---

{% assign url_components = page.url | split: '/' %}
{% assign limit = url_components.size | minus: 2 %}
{% assign href = site.address | append: site.baseurl | append: '/' %}
{% assign split_string = '|' %}

{% comment %} curse github-pages' lack of html minification {% endcomment %}
<nav>
{% for i in (1..limit) %}
    {% assign limit_dec = limit | minus: 1 %}
    {% assign subcategory = url_components[i] | replace: '-' | upcase %}
    {% assign href = href | append: url_components[i] | append: '/' %}
    <a{% if i == limit_dec %} class="pre-last"{% endif %} href="{{ href }}">{{ subcategory }}</a>
{% endfor %}
</nav>

{% assign indexing_href = href %}

{% comment %} SUBDIRECTORIES IN CURRENT DIRECTORY {% endcomment %}
{% assign sub_categories = "" %}
{% for page in site.pages %}

    {% assign sub_url_components = page.url | split: '/' %}
    {% assign sub_limit = sub_url_components.size | minus: 2 %}
    {% assign sub_category_limit = url_components.size | minus: 1 %}
    {% if sub_limit > limit and sub_url_components[limit] == url_components[limit] %}
        {% unless sub_at_least_one %}
            <h2>SUBDIRECTORIES</h2>
            <ul>
            {% assign sub_at_least_one = "true" %}
        {% endunless %}
        {% assign sub_category = sub_url_components[sub_category_limit] %}
        {% assign sub_categories_arr = sub_categories | split: split_string %}
        {% for known_category in sub_categories_arr %}
            {% if sub_category == known_category %}
                {% assign is_previously_found = "true" %}
            {% endif %}
        {% endfor %}
        {% unless is_previously_found == "true" %}
            {% unless sub_categories.size == 0 %}
                {% assign sub_categories = sub_categories | append: split_string %}
            {% endunless %}
            {% assign sub_categories = sub_categories | append: sub_category %}
            {% assign sub_categories_arr = sub_categories | split: split_string %}
        {% endunless %}
        {% assign is_previously_found = "false" %}
    {% endif %}

{% endfor %}

{% for category in sub_categories_arr %}
    {% assign category_name = category | replace: '-',' ' | upcase %}
    <li><a href="{{ sub_href }}{{ category }}">{{ category_name }}</a></li>
{% endfor %}

{% if sub_at_least_one %}
    </ul>
{% endif %}

{% comment %} PAGES IN CURRENT DIRECTORY {% endcomment %}
{% for page in site.pages %}

    {% assign url_components = page.url | split: '/' %}
    {% assign limit = url_components.size | minus: 2 %}
    {% assign pages_file_name = url_components | last %}
    {% if limit | plus: 1 == pages_limit and url_components[limit] == url_components[pages_limit] and pages_file_name != "index.html" %}
        {% unless pages_at_least_one %}
            <h2>PAGES</h2>
            <ul>
            {% assign pages_at_least_one = "true" %}
        {% endunless %}
        <li><a href="{{ pages_href }}{{ url_components | last }}">{{ page.title }}</a></li>
    {% endif %}

{% endfor %}

{% if pages_at_least_one %}
    </ul>
{% endif %}
