{% assign url_components = page.url | split: '/' %}
{% assign limit = url_components.size | minus: 2 %}
{% assign href = site.address | append: site.baseurl | append: '/' %}
{% assign split_string = '|' %}
{% assign file_name = url_components | last %}

{% if limit > 0 %}
<nav{% if file_name == "index.html" %} class="colour"{% endif %}>
{% for i in (1..limit) %}
    {% assign limit_dec = limit | minus: 1 %}
    {% assign subcategory = url_components[i] | replace: '-',' ' | upcase %}
    {% assign href = href | append: url_components[i] | append: '/' %}
    <a{% if i == limit_dec %} class="pre-last"{% endif %} href="{{ href }}">{{ subcategory }}</a>
{% endfor %}
</nav>
{% endif %}
