<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ site.address }}{{ site.baseurl }}/styles/all.css">
        <link rel="stylesheet" href="{{ site.address }}{{ site.baseurl }}/styles/tablet.css" media="(max-width:208mm) and (min-width:128mm) and (-webkit-max-device-pixel-ratio:1)">
        <link rel="stylesheet" href="{{ site.address }}{{ site.baseurl }}/styles/tablet.css" media="(max-width:128mm) and (min-width:80mm) and (-webkit-min-device-pixel-ratio:2)">
        <link rel="stylesheet" href="{{ site.address }}{{ site.baseurl }}/styles/phone.css" media="(max-width:128mm) and (-webkit-max-device-pixel-density:1)">
        <link rel="stylesheet" href="{{ site.address }}{{ site.baseurl }}/styles/phone.css" media="(max-width:80mm) and (-webkit-min-device-pixel-density:2)">
    </head>
    <body>
